<footer>
    <div class="container pt-5 pb-3">
        <div class="row mb-3">
            <div class="col">
                <h2 class="h4 mb-4">Navegue</h4>
                <nav id="nav-footer">
                    <ul>
                        <li>
                            <a href="/">Página Inicial</a>
                        </li>
                        <li>
                            <a href="/aplicacao">Solicitar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/acompanhar-solicitacao">Acompanhar Autorização Eletrônica de Viagem</a>
                        </li>
                        <li>
                            <a href="/contacto">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <h2 class="h4 mb-4">Links importantes</h4>
                <nav>
                    <ul>
                        <li>
                            <a href="/artigos">Artigos</a>
                        </li>
                        <li>
                            <a href="/politica-privacidade">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="/termos-condicoes">Termos e Condições</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col"></div>
        </div>
        <div class="wrapper-selos">
            <div class="selos">
                <img src="/img/selo-siteseguro.webp" height="95px" alt="Site Seguro - Google" id="google">
                <img src="/img/stripe.webp" height="107px" alt="Logotipo - Stripe" id="stripe">
            </div>
        </div>
        
        <p class="ilha-bonaire">Se planeia visitar a ilha de Bonaire, considere o imposto Bonaire Tourism Tax.</p>
        <p>Somos uma agência terceirizada, não vinculada ao governo canadiano, que cobra uma taxa de serviço pela aplicação da sua autorização eletrónica de viagem.<br> As suas informações serão submetidas ao governo do Canadá, que tem o poder de decisão sobre a aprovação ou não do seu pedido.</p>
    </div>
    <div class="container py-3" id="after-footer">
        <p>Todos os direitos reservados à <b>eTA Hub Negócios Digitais Ltda</b>.</p>
        <p>Criado e desenvolvido por Dev Gustavo{{!-- <a href="https://gvfwebdesign.com.br">Dev Gustavo</a>--}}</p>
    </div>
</footer>
<link rel="stylesheet" href="../../css/footer.css">