<header>
    <div class="container" id="header-container">
        <div class="logo">
            <a href="/" id="link-logo-home" aria-label="eTA Canadiano - Home">
                <img src="/img/logo-header.svg" alt="Logotipo eTA Canandense" width="145px" height="52px">
            </a>
        </div>
        <div id="nav">
            <button id="btn-mobile" aria-label="Menu" aria-labelledby="hamburguer">
                <span id="hamburguer"></span>
            </button>
            <nav id="menu">
                <div id="lista" class="container">
                    <ul>
                        <li>
                            <a href="/">
                                <p>Início</p>
                            </a>
                        </li>
                        <li>
                            <a href="/acompanhar-solicitacao">
                                <p>Acompanhar solicitação</p>
                            </a>
                        </li>
                        <li>
                            <a href="/contacto">
                                <p>Contacto</p>
                            </a>
                        </li>

                        <li class="btn btn-success text-uppercase fw-bold p-0">
                            <a href="/aplicacao" class="px-3 py-2">
                                Solicitar autorização
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<link rel="stylesheet" href="../../css/header.css">
<script>
  const btnMobile = document.getElementById('btn-mobile')
  function toggleMenu() {
    const nav = document.getElementById('nav')
    nav.classList.toggle('active')
  }
  btnMobile.addEventListener('click', toggleMenu)
</script>