<style>
    #box-alert {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    } 
</style>
{{#if success_msg}}
    <div class="container w-50" id="box-alert">
        <div class="alert alert-success">{{success_msg}}</div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="container w-50" id="box-alert">
        <div class="alert alert-danger">{{error_msg}}</div>
    </div>
{{/if}}

<script>
    setTimeout(() => {
        $('#box-alert').fadeOut(700)
    }, 6000)
</script>