<main style="flex: 1 1 0">
    <section class="section-1 full-width py-5">
        <div class="container">
            <h1>Acompanhar solicitação</h1>
            <hr>
            <div class="card">
                <div class="card-body">
                    <form action="/consultando-solicitacao" method="POST">
                        <h2>Verifique o status da sua solicitação</h2>
                        <p>Insira o seu e-mail, código ou N° passaporte para consultar o progresso da sua aplicação.</p>
                        <div class="row">
                            <div class="col">
                                <label for="EmailCod">Escolha:</label>
                                <select class="form-select w-50 mb-3" name="filtroSelecionado" id="filtroSelecionado" required>
                                    <option value="" selected disabled></option>
                                    <option value="email">E-mail</option>
                                    <option value="codigo">Código</option>
                                    <option value="passaporte">N° Passaporte</option>
                                </select>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="codeInsert" name="codeInsert" placeholder="Digite seu e-mail, código ou número do passaporte" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-dark" type="submit" id="button-addon2">Buscar<i class="ms-2 bi bi-search"></i></button>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="my-5">
                <div>
                    <h2>Ainda não preencheu a sua solicitação?</h2>
                    <p>Preencha o formulário clicando no botão abaixo:</p>
                    <a href="/aplicacao" class="btn btn-outline-success text-uppercase fw-bold">Solicitar agora</a>
                </div>
            </div>
        </div>
    </section>
</main>
<link rel="stylesheet" href="./css/acompanhar.css">
