<style>
    @media(max-width: 576px) {
        .w-50 {
            width: 100% !important;
        }

        .w-25 {
            width: 50% !important;
        }
        .progress-bar {
            font-size: .6rem !important;
        }
    }
    label {
        font-weight: bold;
    }
    .form-check-label {
        font-weight: 400;
    }
    .text-red {
        color: #FF0000
    }
</style>
<main style="flex: 1 1 0">
    <section class="section-1 py-5">
        <div class="container py-3">
            <h1>Solicitação de Autorização Eletrônica de Viagem (eTA)</h1>
            <hr>
            {{#each errors}}
                <div class="alert alert-danger">{{text}}</div>
            {{else}}
            {{/each}}
            <h2>Progresso da sua solicitação</h2>
            <div class="progress mt-3 mb-5" style="height: 25px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <p class="m-0 p-0">1. Representante</p>
                </div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <p class="m-0 p-0">2. Validação</p>
                </div>
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <p class="m-0 p-0">3. Documentos</p>
                </div>
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <p class="m-0 p-0">4. Conferência</p>
                </div>
            </div>
            <form action="/aplicacaoStep2" method="POST">
                <label class="mb-0" for="document">Qual documento de viagem você pretende usar para viajar ao Canadá? <span class="text-red">* (obrigatório)</span></label>
                <span class="d-block small mb-2">
                    Confira no botão ao lado
                    <a type="button" data-bs-toggle="modal" data-bs-target="#documentModal">
                        <i class="bi bi-question-circle-fill btn p-0"></i>
                    </a>
                </span>
                <select class="form-select w-50 mb-3" name="document" id="document" onchange="showFields(this.value)" required>
                    <option selected disabled>Selecione</option>
                    <option value="Passaporte – comum/regular">Passaporte – comum/regular</option>
                </select>
                <div class="mb-3" id="dynamicFields"></div>
                <input class="btn btn-success mt-5" id="envForm" type="submit" value="Próximo">
            </form>
        </div>
    </section>
    {{!-- MODAIS--}}
    <section>
        {{!-- MODAL PARA EXPLICAR OS TIPOS DE DOCUMENTOS--}}
        <div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title bg-dark" id="exampleModalLabel">Ajuda - Qual documento de viagem você pretende usar para viajar para o Canadá?</h5>
                </div>
                <div class="modal-body">
                    <h6>Passaporte – comum/regular</h6>
                    <p>Passaporte emitido para cidadãos em viagens ocasionais, como férias e viagens de negócios.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
                </div>
            </div>
        </div>

        {{!-- MODAL PARA EXPLICAR ONDE ENCONTAR O CÓDIGO NO PASSAPORTE--}}
        <div class="modal fade" id="codPassportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="exampleModalLabel">Ajuda - Encontre o código abaixo no seu passaporte.</h5>
                </div>
                <div class="modal-body">
                    <img src="/img/example-passport.jpg" alt="Exemplo de um passaporte" width="100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function showFields(type) {
        let dynamicFields = document.getElementById('dynamicFields')
        dynamicFields.innerHTML = ''

        if (type === 'Passaporte – comum/regular') {
            dynamicFields.innerHTML += `
                <label for="codPassport" class="mt-3">Selecione o código que corresponde ao do seu passaporte. <span class="text-red">* (obrigatório)</span></label>
                <span class="d-block small mb-2">
                    Confira no botão ao lado
                    <a type="button" data-bs-toggle="modal" data-bs-target="#codPassportModal">
                        <i class="bi bi-question-circle-fill btn p-0"></i>
                    </a>
                </span>
                <p class="m-0"><small>Verifique o código de três letras que encontra-se na página de informações do seu passaporte.</small></p>

                <select name="codPassport" id="codPassport" class="form-select w-50 mb-3" onchange="showUSCIS(this.value)" required>
                    <option value="" selected disabled>Selecione</option>
                    <option value="AND (Andorra)">AND (Andorra)</option>
                    <option value="ATG (Antígua e Barbuda)">ATG (Antígua e Barbuda)</option>
                    <option value="AUS (Austrália)">AUS (Austrália)</option>
                    <option value="AUT (Áustria)">AUT (Áustria)</option>
                    <option value="BEL (Bélgica)">BEL (Bélgica)</option>
                    <option value="BHS (Bahamas)">BHS (Bahamas)</option>
                    <option value="BRA (Brasil)">BRA (Brasil)</option>
                    <option value="BRB (Barbados)">BRB (Barbados)</option>
                    <option value="BRN (Brunei Darussalam)">BRN (Brunei Darussalam)</option>
                    <option value="CHE (Suíça)">CHE (Suíça)</option>
                    <option value="CHL (Chile)">CHL (Chile)</option>
                    <option value="CYP (Chipre)">CYP (Chipre)</option>
                    <option value="CZE (República Checa)">CZE (República Checa)</option>
                    <option value="D (Alemanha)">D (Alemanha)</option>
                    <option value="DNK (Dinamarca)">DNK (Dinamarca)</option>
                    <option value="ESP (Espanha)">ESP (Espanha)</option>
                    <option value="EST (Estônia)">EST (Estônia)</option>
                    <option value="FIN (Finlândia)">FIN (Finlândia)</option>
                    <option value="FRA (França)">FRA (França)</option>
                    <option value="GRC (Grécia)">GRC (Grécia)</option>
                    <option value="HRV (Croácia)">HRV (Croácia)</option>
                    <option value="HUN (Hungria)">HUN (Hungria)</option>
                    <option value="ISL (Islândia)">ISL (Islândia)</option>
                    <option value="IRL (Irlanda)">IRL (Irlanda)</option>
                    <option value="ITA (Itália)">ITA (Itália)</option>
                    <option value="JPN (Japão)">JPN (Japão)</option>
                    <option value="KOR (Coréia do Sul)">KOR (Coréia do Sul)</option>
                    <option value="LIE (Liechtenstein)">LIE (Liechtenstein)</option>
                    <option value="LTU (Lituânia)">LTU (Lituânia)</option>
                    <option value="LUX (Luxemburgo)">LUX (Luxemburgo)</option>
                    <option value="LVA (Letônia)">LVA (Letônia)</option>
                    <option value="MCO (Mônaco)">MCO (Mônaco)</option>
                    <option value="NLD (Holanda)">NLD (Holanda)</option>
                    <option value="NOR (Noruega)">NOR (Noruega)</option>
                    <option value="NZL (Nova Zelândia)">NZL (Nova Zelândia)</option>
                    <option value="PEC (Singapura)">PEC (Singapura)</option>
                    <option value="PNG (Papua Nova Guiné)">PNG (Papua Nova Guiné)</option>
                    <option value="POL (Polônia)">POL (Polônia)</option>
                    <option value="PRT (Portugal)">PRT (Portugal)</option>
                    <option value="SMR (São Marino)">SMR (São Marino)</option>
                    <option value="SLB (Ilhas Salomão)">SLB (Ilhas Salomão)</option>
                    <option value="SVN (Eslovênia)">SVN (Eslovênia)</option>
                    <option value="SVK (Eslováquia)">SVK (Eslováquia)</option>
                    <option value="SWE (Suécia)">SWE (Suécia)</option>
                    <option value="WSM (Samoa)">WSM (Samoa)</option>
                </select>
                <div id="dynamicUSCIS"></div>
            `

            const envForm = document.getElementById('envForm')
            envForm.disabled = true
        }
    }
    
    function showUSCIS(codPassport) {
        let dynamicUSCIS = document.getElementById('dynamicUSCIS')
        dynamicUSCIS.innerHTML = ''

        if (codPassport === 'ATG (Antígua e Barbuda)' || codPassport === 'BRA (Brasil)') {
            dynamicUSCIS.innerHTML += `
                <label for="residentUSCIS" class="mt-3">Você é um residente permanente legal dos Estados Unidos com um número válido dos Serviços de Cidadania e Imigração dos EUA (USCIS)? <span class="text-red">* (obrigatório)</span></label>
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS1" onchange="showAviao(0)" value="0" required="required">
                        <label class="form-check-label" for="residentUSCIS1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="residentUSCIS" id="residentUSCIS2" onchange="showAviao(1)" value="1" required="required">
                        <label class="form-check-label" for="residentUSCIS2">
                            Sim
                        </label>
                    </div>
                </div>
                <div id="dynamicAviao"></div>
            `
            const envForm = document.getElementById('envForm')
            envForm.disabled = "disabled"

        } else {
            dynamicUSCIS.innerHTML += `
                <label for="nationalityPassport" class="mt-3">Qual é a nacionalidade indicada neste passaporte? <span class="text-red">* (obrigatório)</span></label>
                <select name="nationalityPassport" id="nationalityPassport" class="form-select w-50 mb-3" required>
                    <option value="" selected disabled>Selecione</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Antígua e Barbuda">Antígua e Barbuda</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Bélgica">Bélgica</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="Chipre">Chipre</option>
                    <option value="Chile">Chile</option>
                    <option value="Croácia">Croácia</option>
                    <option value="Dinamarca">Dinamarca</option>
                    <option value="Eslováquia">Eslováquia</option>
                    <option value="Eslovênia">Eslovênia</option>
                    <option value="Espanha">Espanha</option>
                    <option value="Estônia">Estônia</option>
                    <option value="Finlândia">Finlândia</option>
                    <option value="França">França</option>
                    <option value="Grécia">Grécia</option>
                    <option value="Holanda">Holanda</option>
                    <option value="Hungria">Hungria</option>
                    <option value="Ilhas Salomão">Ilhas Salomão</option>
                    <option value="Islândia">Islândia</option>
                    <option value="Irlanda">Irlanda</option>
                    <option value="Itália">Itália</option>
                    <option value="Japão">Japão</option>
                    <option value="Coréia do Sul">Coréia do Sul</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lituânia">Lituânia</option>
                    <option value="Luxemburgo">Luxemburgo</option>
                    <option value="Letônia">Letônia</option>
                    <option value="Mônaco">Mônaco</option>
                    <option value="Noruega">Noruega</option>
                    <option value="Nova Zelândia">Nova Zelândia</option>
                    <option value="Papua Nova Guiné">Papua Nova Guiné</option>
                    <option value="Polônia">Polônia</option>
                    <option value="Portugal">Portugal</option>
                    <option value="República Checa">República Checa</option>
                    <option value="Samoa">Samoa</option>
                    <option value="São Marino">São Marino</option>
                    <option value="Singapura">Singapura</option>
                    <option value="Suécia">Suécia</option>
                    <option value="Suíça">Suíça</option>
                </select>
                <div id="dynamicAviao"></div>
            `
            const envForm = document.getElementById('envForm')
            envForm.disabled = ""

        }
    }
    
    function showAviao(type) {
        let dynamicAviao = document.getElementById('dynamicAviao')
        dynamicAviao.innerHTML = ''

        if(type === 1) {
            dynamicAviao.innerHTML += `
                <div class="alert alert-danger w-50 my-3">
                    <p class="m-0">Com base nas suas respostas, você não pode solicitar um eTA. Você pode precisar de um visto ou outro tipo de documento de viagem para viajar para o Canadá.</p>
                </div>
            `
            const envForm = document.getElementById('envForm')
            envForm.disabled = "disabled"
                
        } else if (type === 0) {
            dynamicAviao.innerHTML += `
                <label for="nationalityPassport" class="mt-3">Qual é a nacionalidade indicada neste passaporte? <span class="text-red">* (obrigatório)</span></label>
                <select name="nationalityPassport" id="nationalityPassport" class="form-select w-50 mb-3" required>
                    <option value="" selected disabled>Selecione</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Antígua e Barbuda">Antígua e Barbuda</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Áustria">Áustria</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Bélgica">Bélgica</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="Chipre">Chipre</option>
                    <option value="Chile">Chile</option>
                    <option value="Croácia">Croácia</option>
                    <option value="Dinamarca">Dinamarca</option>
                    <option value="Eslováquia">Eslováquia</option>
                    <option value="Eslovênia">Eslovênia</option>
                    <option value="Espanha">Espanha</option>
                    <option value="Estônia">Estônia</option>
                    <option value="Finlândia">Finlândia</option>
                    <option value="França">França</option>
                    <option value="Grécia">Grécia</option>
                    <option value="Holanda">Holanda</option>
                    <option value="Hungria">Hungria</option>
                    <option value="Ilhas Salomão">Ilhas Salomão</option>
                    <option value="Islândia">Islândia</option>
                    <option value="Irlanda">Irlanda</option>
                    <option value="Itália">Itália</option>
                    <option value="Japão">Japão</option>
                    <option value="Coréia do Sul">Coréia do Sul</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lituânia">Lituânia</option>
                    <option value="Luxemburgo">Luxemburgo</option>
                    <option value="Letônia">Letônia</option>
                    <option value="Mônaco">Mônaco</option>
                    <option value="Noruega">Noruega</option>
                    <option value="Nova Zelândia">Nova Zelândia</option>
                    <option value="Papua Nova Guiné">Papua Nova Guiné</option>
                    <option value="Polônia">Polônia</option>
                    <option value="Portugal" selected>Portugal</option>
                    <option value="República Checa">República Checa</option>
                    <option value="Samoa">Samoa</option>
                    <option value="São Marino">São Marino</option>
                    <option value="Singapura">Singapura</option>
                    <option value="Suécia">Suécia</option>
                    <option value="Suíça">Suíça</option>
                </select>

                <label for="airplane" class="mt-3">Você está viajando para o Canadá de avião? <span class="text-red">* (obrigatório)</span></label>
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane1" onchange="showCanadaVisa(0)" value="0" required="required">
                        <label class="form-check-label" for="airplane1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="airplane" id="airplane2" onchange="showCanadaVisa(1)" value="1" required="required">
                        <label class="form-check-label" for="airplane2">
                            Sim
                        </label>
                    </div>
                </div>
            `
            dynamicAviao.innerHTML += `
                <div id="dynamicCanadaVisa"></div>
            `
        }
    }
    
    function showCanadaVisa(type) {
        let dynamicCanadaVisa = document.getElementById('dynamicCanadaVisa')
        dynamicCanadaVisa.innerHTML = ''

        if(type === 0) {
            dynamicCanadaVisa.innerHTML += `
                <div class="alert alert-danger w-50 my-3">
                    <p class="m-0">Com base nas suas respostas, você não pode solicitar um eTA. Você pode precisar de um visto ou outro tipo de documento de viagem para viajar para o Canadá.</p>
                </div>
            `
            const envForm = document.getElementById('envForm')
            envForm.disabled = "disabled"
        } else if (type === 1) {
            dynamicCanadaVisa.innerHTML += `
                <label for="canadaVisa" class="mt-3">Nos últimos 10 anos, você possuiu um visto canadiano de residente temporário válido? <span class="text-red">* (obrigatório)</span></label>
                <div class="p-2 w-50 d-flex flex-row gap-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa1" onchange="showNonImmigrateVisa(0)" value="0" required="required">
                        <label class="form-check-label" for="canadaVisa1">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="canadaVisa" id="canadaVisa2" onchange="showNonImmigrateVisa(1)" value="1" required="required">
                        <label class="form-check-label" for="canadaVisa2">
                            Sim
                        </label>
                    </div>
                </div>
            `
            dynamicCanadaVisa.innerHTML += `
                <div id="dynamicNonImmigrateVisa"></div>
            `
        }
    }
    
    function showNonImmigrateVisa(type) {
        let dynamicNonImmigrateVisa = document.getElementById('dynamicNonImmigrateVisa')
        dynamicNonImmigrateVisa.innerHTML = `
            <label for="nonImmigrateVisa" class="mt-3">Você atualmente possui um visto válido de não-imigrante nos EUA? <span class="text-red">* (obrigatório)</span></label>
            <div class="p-2 w-50 d-flex flex-row gap-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa1" onchange="showDangerText(0)" value="0" required="required">
                    <label class="form-check-label" for="nonImmigrateVisa1">
                        Não
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="nonImmigrateVisa" id="nonImmigrateVisa2" onchange="showDangerText(1)" value="1" required="required">
                    <label class="form-check-label" for="nonImmigrateVisa2">
                        Sim
                    </label>
                </div>
            </div>
            <input type="hidden" id="valueCanadaVisa" value="${type}">
            <div id="finalDangerText"></div>

        `
    }
    
    function showDangerText(type) {
        let finalDangerText = document.getElementById('finalDangerText')
        const canadaVisa = document.getElementById('valueCanadaVisa').value
        finalDangerText.innerHTML = ''

        if(type === 0 && canadaVisa === "0") {
            finalDangerText.innerHTML += `
                <div class="alert alert-danger w-50 my-3">
                    <p class="m-0">Com base nas suas respostas, você não pode solicitar um eTA. Você pode precisar de um visto ou outro tipo de documento de viagem para viajar para o Canadá.</p>
                </div>
            `
            const envForm = document.getElementById('envForm')
            envForm.disabled = "disabled"
        } else  {
            const envForm = document.getElementById('envForm')
            envForm.disabled = ""
        }
    }

</script>

