<main>
    <section class="section-1 full-width py-5">
        <div class="container py-3">
            <h1 class="text-center">Termos e condições</h1>

            <hr class="my-5">

            <h2>1. Introdução</h2>
            <p> Estes Termos e Condições (doravante "Termos") regem o uso do site www.etacanadiano.pt (doravante "Site") e os serviços relacionados à aplicação de Autorizações Eletrónicas de Viagem (eTAs) para o Canadá oferecidos por eTA Hub Negócios Digitais Ltda com CNPJ 53.053.965/0001-09 (doravante "Empresa"). Ao utilizar o Site e os serviços da Empresa, concorda com estes Termos na íntegra. Se não concordar com estes Termos, não utilize o Site ou os serviços da Empresa.</p>

            <hr class="my-4">
            
            <h2>2. Elegibilidade</h2>
            <p>Ao utilizar os serviços da Empresa, declara e garante que cumpre todos os requisitos de elegibilidade para obter uma eTA Canadiano, de acordo com as leis e regulamentos do Canadá. A Empresa não garante a aprovação da eTA e não é responsável por decisões tomadas pelas autoridades de imigração canadianas.</p>

            <hr class="my-4">
            
            <h2>3. Serviços oferecidos</h2>
            <p>A Empresa oferece serviços de recolha de dados e submissão de pedidos de eTA canadiano, conforme especificado no Site, desde que a data da viagem do solicitante seja acima de 7 dias da data do preenchimento do formulário e pagamento das taxas. Estes serviços podem incluir, entre outros, a revisão de documentos, preenchimento de formulários e orientação durante o processo de solicitação de eTA.</p>

            <hr class="my-4">
            
            <h2>4. Taxas e pagamentos</h2>
            <p>O uso dos serviços da Empresa pode estar sujeito a taxas. As taxas e os métodos de pagamento serão especificados no Site. Ao utilizar os serviços da Empresa, concorda em pagar as taxas aplicáveis de acordo com os termos estabelecidos no Site.</p>
            
            <hr class="my-4">
            
            <h2>5. Responsabilidade do utilizador</h2>
            <p>O utilizador é responsável por fornecer informações precisas e completas durante o processo de aplicação de eTA. A Empresa não será responsável por atrasos, recusas ou quaisquer outras consequências devido a informações imprecisas ou incompletas fornecidas pelo utilizador.</p>

            <hr class="my-4">
            
            <h2>6. Privacidade</h2>
            <p>A Empresa recolhe e processa informações pessoais de acordo com a sua Política de Privacidade. Ao usar o Site e os serviços da Empresa, o utilizador concorda com a recolha e o processamento das suas informações pessoais de acordo com esta política.</p>

            <hr class="my-4">
            
            <h2>7. Rescisão</h2>
            <p>A Empresa reserva o direito de rescindir ou suspender o acesso do utilizador ao Site e aos serviços a qualquer momento, por qualquer motivo, sem aviso prévio.</p>

            <hr class="my-4">
            
            <h2>8. Propriedade intelectual</h2>
            <p>Todos os conteúdos disponíveis no Site, incluindo textos, imagens, logotipos e software, são protegidos por direitos autorais e outros direitos de propriedade intelectual. O utilizador concorda em não reproduzir, distribuir, transmitir ou criar trabalhos derivados do conteúdo do Site sem autorização prévia por escrito.</p>

            <hr class="my-4">
            
            <h2>9. Limitação de responsabilidade</h2>
            <p>A Empresa não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, especiais ou consequentes decorrentes do uso do Site ou dos serviços oferecidos. A Empresa não garante a aprovação da eTA e não é responsável por quaisquer problemas decorrentes de decisões tomadas pelas autoridades canadianas.</p>

            <hr class="my-4">
            
            <h2>10. Disposições gerais</h2>
            <p>Estes Termos representam o acordo completo entre o utilizador e a Empresa e substituem todos os acordos anteriores. Qualquer modificação destes Termos deve ser feita por escrito e assinada por ambas as partes.</p>
        </div>
    </section>
</main>