footer {
    background-color: #17233D;
    color: #FFF;
}

footer .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

footer .container .row .col nav ul {
    padding: 0;
    list-style: none;
}

footer .container .row .col nav ul li {
    margin-bottom: .75rem;
}

footer .container .row .col nav ul li a {
    color: #FFF;
}

footer .container .row .col #nav-social {
    display: flex;
    flex-wrap: wrap;
}

footer .container .row .col #nav-social a {
    margin-bottom: 1.2rem;
    color: #FFF;
    width: 48% !important;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .8rem
}

footer .container .row .col #nav-social div span {
    width: 72px;
}

footer .wrapper-selos {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
}

footer .wrapper-selos .selos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

footer .selos #google {
    width: 42%;
    height: auto;
}

footer .selos #mercadopago {
    background-color: #FFF;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

footer .ilha-bonaire {
    text-align: center;
}

footer #after-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #FFF;
}

footer #after-footer p {
    text-align: center;
    margin-bottom: .25rem !important;
}

footer #after-footer a {
    color: #7EA6BC;
}

@media(min-width: 992px) {
    footer .container .row {
        display: flex;
        align-items: start;
        flex-direction: row;
    }

    footer .container p {
        text-align: center;
    }

    footer .container .row .col #nav-social {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer .container .row .col #nav-social div {
        justify-content: start;
    }

    footer .wrapper-selos {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }

    footer .wrapper-selos .selos {
        width: 30% !important;
    }

    footer .container .ilha-bonaire {
        text-align: center;
    }
}